
{{#if message }}
    <div class="error">{{ message }}</div>
{{/if }}
<form method="POST" action="/login">
    <legend>Login</legend>
    <div>
        <input type="text" name="username" required>
        <label>username</label>
    </div>
    <div>
        <input type="text" name="email" required>
        <label>email</label>
    </div>
    <div>
        <input type="password" name="password" required>
        <label>Password</label>
    </div>
    <button type="submit">Login</button>
    <a href="/signup">Sign up</a>
</form>
