<div class='rngr-wrapper'>
  <form method="POST" action="/users" class="rngr-form">
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      <button type="submit">Sign up</button>
      <a href="/login">Login</a>
  </form>
</div>
