<div class='rngr-wrapper'>
  <form method="POST" action="/signup" class="rngr-form" id="signup">
    <img src="logo2.png" class="logo" />
    <a href="/auth/google" class="form-btn">Google</a>
    <hr />
      <input type="text" name="username" placeholder="Username" required>
      <input type="text" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
      <button type="submit">Sign up</button>
  </form>
  <p class="notAMember">Already A Member? <a href="/login">Login</a></p>
</div>
