<html>
    {{> head }}
    <body style="background: linear-gradient(141deg, white 0%, gray 51%, black 95%);">
        <div class="mui-container-fluid">
            {{{ body }}}
        </div>
    </body>
</html>
